<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--设置mybatis的初始化属性-->
    <settings>
        <setting name="safeRowBoundsEnabled" value="true"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!--给类起别名-->
    <!--<typeAliases>-->
        <!---->
    <!--</typeAliases>-->

    <!--在sql前后进行拦截-->
    <!--<plugins>-->
        <!--<plugin interceptor=""></plugin>-->
    <!--</plugins>-->

    <!--定义类和表的映射-->
    <!--<typeHandlers>-->
        <!--<typeHandler handler=""-->
    <!--</typeHandlers>-->
</configuration>